<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EJS - Speer Backend Assessment Task 2</title>
    <script type="text/javascript">
      var isLoggedIn = <%= isLoggedIn %>;
      var errorOccured = <%= errorOccured %>;
    </script>
  </head>
  <body>
    <% if (isLoggedIn) { %>
      <h1>I can log in</h1>
    <% } else {
          if (errorOccured) {%>
            <p style="color: red;">Can't find the user you're looking for</p>
          <% } %>
      <form class="" action="/" method="post">
        <input type="text" name="username" value="" placeholder="enter username">
        <input type="password" name="password" value=""placeholder="enter password">
        <input type="submit" name="" value="Submit">
      </form>
    <% } %>
  </body>
</html>
