<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Speer Backend Assessment Task 2</title>
  </head>
  <body>
    <form class="" action="/" method="post">
      <input type="text" name="username" value="" placeholder="enter username">
      <input type="password" name="password" value=""placeholder="enter password">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
